body{
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
 }

.cabecalho{
	background-color: #333;
	height: 7em;
}

.cabecalho__titulo {
	font-size: 2.5em;
	color: rgb(221, 236, 11);
	text-align: center;
	padding-top: 1.75rem;
}

.titulo{
	font-size: 2.5em;
	color: rgb(6, 231, 201);
	text-align: center;

	margin-top: 2rem;
	padding-bottom: 1em;
	padding-top: 1rem;
}
.container{
	width: 80%;
	height: 100%;
	margin: 0 auto;	
}

.container__form {
	display: flex;
	flex-direction:column;
	align-items: space-between;
}

.botao{

	cursor: pointer;
	clear: both;

	background-color:#0c8cd3;
	border: 3px solid radius;
	border-color: #03181b;
	color: #fff;
	display: block;

	font-size: 1.2em;
	padding: .5em 2em;
	width: 20%;

	margin-top: -3px;
	margin: 10px 0px;
}

table {
	width: 100% ;
	margin-bottom: .5rem;
	table-layout: fixed;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th {
	font-weight: bold;
	background-color: #EEE;
	margin-bottom : .5em;
	table-layout: fixed;
	
}
	
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campomedio{
	display: inlineblock;
	padding-right: .5em;
}
	
.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}
	
	


