button:active{
	margin-top:0px;
	border: 0;
	border-radius: 1.5rem;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

#adicionar-paciente {
    margin-top: 30px;
}

.container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}
